---
	import BackArrow from '../components/BackArrow.astro';
	import Header from '../components/Header.astro';
	import VidWrapper from '../components/VidWrapper.astro';
	let title = 'AlphaTree Service';
---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{title}</title>
		<link rel="icon" type="image/x-icon" href="/assets/logo32.jpg" />
		<style >
			@import "../styles/global.css";
		</style>
	</head>
	<body>
		<main>
			
			<Header />
			<BackArrow href="https://alphatreeservice.pages.dev"/>
			<div class="vid-div">
				<iframe width="334" height="593" src="https://www.youtube.com/embed/EzS2gjWNGJ0" 
					title="YouTube video player" frameborder="0" 
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
					allowfullscreen>
				</iframe>
				<iframe width="334" height="593" src="https://www.youtube.com/embed/jEWxCjmNvUU" 
					title="YouTube video player" frameborder="0" 
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
					allowfullscreen>
				</iframe>
				<iframe width="335" height="595" src="https://www.youtube.com/embed/adLBtc5uBwM" 
					title="YouTube video player" frameborder="0" 
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
					allowfullscreen>
				</iframe>
			</div>
			<div class="vid-div">
				<VidWrapper src="https://www.youtube.com/embed/M4ZGLJk7Cjw" />
				<VidWrapper src="https://www.youtube.com/embed/PHDLlOBqkjw" />
				<VidWrapper src="https://www.youtube.com/embed/mfWPIOh30nI" />
				<VidWrapper src="https://www.youtube.com/embed/CVi0d1aepbE" />
				<VidWrapper src="https://www.youtube.com/embed/okVkEfmoTTA" />
				<VidWrapper src="https://www.youtube.com/embed/MAhLq6x6jOM" />
				<VidWrapper src="https://www.youtube.com/embed/5XRaC8RSXbM" />
				<VidWrapper src="https://www.youtube.com/embed/IZQymhYK59k" />
				<VidWrapper src="https://www.youtube.com/embed/9rvT2BEYbf8" />
				<VidWrapper src="https://www.youtube.com/embed/wI5ZR78-aKM" />
			</div>
		</main>
	</body>
</html>

